/*#navbar {
    height: 180px;
}

#navbar-container {
    flex-direction: column;
    padding: 20px 0;
}*/

/*#navbar-items {
    flex-direction: column;
    text-align: center;
    width: 100%;
}

/*#navbar-items li:nth-child(2) {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

#showcase-container {
    padding: 40px;
}*/


/* Navbar */
#navbar {
    width: 100%;
    background: #eee;
    color: #000;
    height: 80px;
    position: fixed;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: -80px;
    font-size: 0px;
}

#navbar-items {
    display: flex;
    list-style: none;
    margin-left: 10px;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 20px;
}

#clients-container {
    grid-template-columns: repeat(2, 1fr);
}

.client {
    width: 80%;
}

#features-container {
    grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2) {
    margin: 15px 0;
}

#product-container {
    flex-direction: column;
}

#items {
    width: 90%;
}

#product img {
    width: 120%;
}

#showcase-container h2 {
    font-size: 50px;
}

.item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.btn {
    margin-top: 20px;
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #eee;
    color: rgb(255, 38, 0);
    border-radius: 5px;
    transition: background 500ms ease;
}

.testimonial {
    flex-direction: column;
    text-align: center;
}

#testimonials-container a {
    display: inline-block;
}

#gallery-container {
    grid-template-columns: 1fr;
}

.gallery-image {
    width: 100%;
}